body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(to left bottom, var(--color-medium-blue), #00398a, var(--color-dark-gray));
    /* animation: change-color-anim 40.3s linear infinite; */
    overflow-x: hidden;
}


@keyframes bg{
   0%{
     background-position-x: 0;
   }
   
   100%{
     background-position-x: 10000px ;
   }
 }

.carousel{
    display: none;
}

:root {
    --color-dark-blue: #003366; /* Azul Oscuro */
    --color-medium-blue: #006699; /* Azul Medio */
    --color-light-blue: #3399cc; /* Azul Claro */
    --color-pastel-blue: #99ccff; /* Azul Pastel */
    --color-light-gray: #f0f0f0c7; /* Gris Claro */
    --color-dark-gray: #333333; /* Gris Oscuro */
    --violeta: #5929e5;
    --violeta1: #9933CC;
    --violeta2: #9966CC
}

#fondo_neurona_css{
    z-index: -1;
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    overflow: hidden;
}
  
.home{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 4s ease;
    /* background-image: linear-gradient(to left bottom, #003375, #240971); */
    /* animation: change-color-anim 40.3s linear infinite; */
}

.logo-b4t{
    position: absolute;
    top: 40px;
    opacity: 0.5;
    left: 40px; 
}

.logo-b4t img{
    border-radius: 100%;
    height: 95px;
    width: 95px;

}

/* .owner{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
} */

.owner:hover{
    filter: grayscale(80%);
}

.contacto{
    position: absolute;
    top: 40px;
    font-size: 45px;
    right: 50px;
    color: #fff
}

.home-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 65px;
    font-weight: 900;
    color: var(--color-light-gray);
    height: 100%;
}


.home-logo img{
    height: 100px;
    border-radius: 25px;
    width: 100px;
}

.home-logo-medias{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 27px;
    color: var(--color-light-gray);
}

.home-logo-medias div{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border: 2px solid var(--color-light-);  
}

.home-logo-medias div:hover{
    color: #fff;
    cursor: pointer;
}

.home-logo-title{
    display: flex; 
}

.home-logo-title p{
    margin-right: 15px;
}

#b4{
    color: var(--color-light-blue);
}

#Tomorrow{
    color: var(--color-light-gray);
}

.home-logo-soon{
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #fff;
    margin-bottom: 20px;
}

.home-logo-footer{
    width: 100%;
}

@keyframes change-color-anim {
    
  
    24% {
        background-image: linear-gradient(to left bottom, #003373, #240971);
    }
    26% {
        background-image: linear-gradient(to left bottom, #003374, #240969);
    }
    28% {
        background-image: linear-gradient(to left bottom, #003375, #240967);
    }
    30% {
        background-image: linear-gradient(to left bottom, #003376, #240965);
    }
    32% {
        background-image: linear-gradient(to left bottom, #003377, #240963);
    }
    34% {
        background-image: linear-gradient(to left bottom, #003378, #240961);
    }
    36% {
        background-image: linear-gradient(to left bottom, #003379, #240959);
    }
    38% {
        background-image: linear-gradient(to left bottom, #003380, #240957);
    }
    40% {
        background-image: linear-gradient(to left bottom, #003381, #240955);
    }
    42% {
        background-image: linear-gradient(to left bottom, #003382, #240953);
    }
    44% {
        background-image: linear-gradient(to left bottom, #003383, #240951);
    }
    46% {
        background-image: linear-gradient(to left bottom, #003384, #240949);
    }
    48% {
        background-image: linear-gradient(to left bottom, #003385, #240947);
    }
    50% {
        background-image: linear-gradient(to left bottom, #003386, #240945);
    }
    52% {
        background-image: linear-gradient(to left bottom, #003387, #240943);
    }
    54% {
        background-image: linear-gradient(to left bottom, #003388, #240941);
    }
    56% {
        background-image: linear-gradient(to left bottom, #003389, #240939);
    }
    58% {
        background-image: linear-gradient(to left bottom, #003390, #240937);
    }
    60% {
        background-image: linear-gradient(to left bottom, #003391, #240935);
    }
    62% {
        background-image: linear-gradient(to left bottom, #003392, #240933);
    }
    64% {
        background-image: linear-gradient(to left bottom, #003393, #240931);
    }
    66% {
        background-image: linear-gradient(to left bottom, #003394, #240929);
    }
    68% {
        background-image: linear-gradient(to left bottom, #003395, #240927);
    }
    70% {
        background-image: linear-gradient(to left bottom, #003396, #240925);
    }
    72% {
        background-image: linear-gradient(to left bottom, #003397, #240923);
    }
    74% {
        background-image: linear-gradient(to left bottom, #003398, #240921);
    }
    76% {
        background-image: linear-gradient(to left bottom, #003399, #240919);
    }
    74% {
        background-image: linear-gradient(to left bottom, #003398, #240921);
    }
    72% {
        background-image: linear-gradient(to left bottom, #003397, #240923);
    }
    70% {
        background-image: linear-gradient(to left bottom, #003396, #240925);
    }
    68% {
        background-image: linear-gradient(to left bottom, #003395, #240927);
    }
    66% {
        background-image: linear-gradient(to left bottom, #003394, #240929);
    }
    64% {
        background-image: linear-gradient(to left bottom, #003393, #240931);
    }
    62% {
        background-image: linear-gradient(to left bottom, #003392, #240933);
    }

    60% {
        background-image: linear-gradient(to left bottom, #003391, #240935);
    }
    58% {
        background-image: linear-gradient(to left bottom, #003390, #240937);
    }
    56% {
        background-image: linear-gradient(to left bottom, #003389, #240939);
    }
    54% {
        background-image: linear-gradient(to left bottom, #003388, #240941);
    }
    52% {
        background-image: linear-gradient(to left bottom, #003387, #240943);
    }
    50% {
        background-image: linear-gradient(to left bottom, #003386, #240945);
    }
    44% {
        background-image: linear-gradient(to left bottom, #003383, #240951);
    }
    46% {
        background-image: linear-gradient(to left bottom, #003384, #240949);
    }
    48% {
        background-image: linear-gradient(to left bottom, #003385, #240947);
    }
    42% {
        background-image: linear-gradient(to left bottom, #003382, #240953);
    }
    40% {
        background-image: linear-gradient(to left bottom, #003381, #240955);
    }
}



.home-logo-soon.person{
    color: red;
    width: auto !important;
}

.person-container{
    /* background-color: var(--color-light-gray); */
    margin-top: 100px;
    border: 1px solid var(--color-light-gray);
    border-radius: 25px;
}

.person .info{
    border: 2px solid var(--color-light-gray);
    background-color: var(--color-light-gray);
    opacity: 1;
    border-radius: 25px;
    color: var(--color-dark-gray);
    font-weight: 500;
    padding: 25px;
    line-height: 30px;
    font-family: "Public Sans", sans-serif; 
}

/* font-family: "Noto Sans", sans-serif;

font-family: "Public Sans", sans-serif; */

.home.show{
    opacity: 1;
}

.arrow-dw{
    position: absolute;
    top: 10px;
    right: 70px;
    font-size: 45px;
    z-index: 10;
    height:100px;
    width:100px;
    background-color:red;
}

.arrow-dw i {
    color: #fff !important;
}

.about{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.about .home-logo-title{
    font-size: 35px;
} 

.home-logo-about{
    width: 600px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    line-height: 35px;
    font-weight: 400;
}

.team{
    font-size: 35px;
    color: #fff !important;
    font-weight: 800;
}

.owner-image{
    position: absolute;
    left: 0px;
    /* background-color: var(--violeta); */
    display: flex;
    top: 50vh;
}

.ds{
    display: flex;
    top: 50vh;
    right: 0px;
    position: absolute;
    right: 0px;
    
    /* background-color: red; */
}



.owner-image,.ds img{
    width: auto;
}

.seba{
    height: 500px;
    opacity: 0.78;
    /* bottom: 50px; */
    position: relative;
}


.delfina{
    height: 500px;
    opacity: 0.78;
    /* bottom: 50px; */
    position: relative;
}

.rodolfo{
    position: relative;
    /* filter: brightness(1.1); */
    opacity: 0.78;
    right: 140px;
    height: 500px;
}

.daniela{
    /* filter: brightness(1.3); */
    /* mix-blend-mode: overlay; */
    height: 550px;
    opacity: 0.78;
    bottom: 50px;
    position: relative;
}

/*owners*/

#owners{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.info h3{
    font-size: 28px;
}



.line-body{
    background: linear-gradient(to right, #1e5799 0%,#2ce0bf 19%,#76dd2c 40%,#dba62b 60%,#e02cbf 83%,#1e5799 100%); 
   background-size: 10000px 100%;
   animation: bg 15s linear infinite ;
   position: absolute;
   z-index: 10000;
 }
 @keyframes bg{
   0%{
     background-position-x: 0;
   }
   
   100%{
     background-position-x: 10000px ;
   }
 }


 @media screen and (max-width:1500px) and (min-width:1200px){
    .daniela{
        left: 120px;
    }
}


 @media screen and (max-height:750px){
    .home{
        min-height: 850px;
    }

    .home-logo{
        justify-content: space-evenly;
    }

    #dna{
        position: absolute;
        top: 250px !important;
    }
 }


 @media screen and (max-height:1900px){
    .home{
        min-height: 800px;
    }

    #dna{
        position: absolute;
        top: 350px !important;
    }
    .home-logo-title{
        margin-bottom: 400px;
    }
    .daniela{
        left: 120px;
    }
}




 @media screen and (max-height:750px){
    .home{
        min-height: 850px;
    }

    .home-logo{
        justify-content: space-evenly;
    }

    .owner-image, .ds{
        top: 360px;
    }
 }

@media screen and (max-width:1800px) and (max-height:900px){
    #dna{
        position: absolute;
        top: 250px !important;
    }
}

@media screen and (max-width:1284px){
    .ds{
        position: absolute;
        right: 0;
        /* top: 38vh;         */
    }
    .daniela{
        left: 45px;
    }
    .delfina, .seba{
        height: 450px;
        bottom: 0;
    }
}


@media screen and (max-width:1214px){

    .delfina, .seba{
        height: 395px;
        bottom: 0;
        opacity: 0.7;
    }
}

@media screen and (max-width:1440px){
    .owner-image,
    .ds{
        display: none;
    }

    .carousel {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%; /* Ajusta esto según el tamaño de tus imágenes */
        overflow: hidden;
    }
    
    .owner-carousel {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .owner-carousel img{
        height: 395px;
    }
    
    .owner-carousel.active {
        opacity: 1;
    }

    .owner-cs {
        position: absolute;
        left: 25%;
        top: 0;
    }

    .daniela{
        height: 450px !important;
        bottom: 5px;
        margin-right: 5px;
        z-index: 10;
        left: 40px;
    }

    #dna{
        display: none;
    }
    
}


@media screen and (max-width:1440px){
    .daniela{
        height:620px !important;
        left: 40px;
        top: -32px;
    }
    .rodolfo{
        height:550px !important;
        right: 250px !important;

    }

    .delfina{
        height:550px !important;
    }
    .seba{
        height:550px !important;
    }

}

@media screen and (max-width:1140px){
    /* .daniela{
        height:520px !important;
        left: 90px;
        top: -32px;
    }
    .rodolfo{
        height:420px !important;
    } */

    .delfina{
        height:450px !important;
    }
    .seba{
        height:450px !important;
    }

}

@media screen and (max-width:937px){
    .daniela{
        height:500px !important;
        left: 20px;
        top: -20px;
    }
    .rodolfo{
        height:450px !important;
        right: 190px !important;

    }
}

@media screen and (max-width:740px){
    .daniela{
        height:500px !important;
        left: 70px;
        top: -20px;
    }
    .rodolfo{
        height:450px !important;
        right: 170px !important;

    }
}

@media screen and (max-width:740px){
    .daniela{
        height:450px !important;
        left: 70px;
        top: -10px;
    }
    .rodolfo{
        height:400px !important;
        right: 140px !important;

    }
}



@media screen and (max-width:800px){


    .delfina{
        height:350px !important;
    }
    .seba{
        height:350px !important;
    }
    .owner-image{
        left: 150px !important;
    }
}